
body{
    font-family: Arial;
    background:#f4f6f9;
}

.form-container{
    width:400px;
    margin:80px auto;
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:12px;
    font-weight:bold;
}

input,select{
    width:100%;
    padding:8px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:4px;
}

button{
    margin-top:20px;
    width:100%;
    padding:10px;
    background:#1f6fb2;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

button:hover{
    background:#155a91;
}
