
{% extends "base.html" %}

{% block content %}
<div class="container">

<h1>Công nghệ thông tin – 7480201</h1>

<p class="description">
Đào tạo cử nhân Công nghệ thông tin có phẩm chất chính trị, đạo đức nghề nghiệp và sức khỏe tốt;
có hiểu biết cơ bản về kinh tế, quản lý và quản trị kinh doanh; nắm vững kiến thức và kỹ năng chuyên sâu
về Công nghệ thông tin.
</p>

<p>
Chương trình đào tạo ngành Công nghệ thông tin bản có dấu mộc:
<a href="#">Link</a>
</p>

<hr>

<table>

<tr>
    <th rowspan="2">Số thứ tự</th>
    <th colspan="2">Nội dung</th>
    <th rowspan="2">Mã học phần</th>
    <th rowspan="2">Số tín chỉ</th>
    <th colspan="8">Phân bố học kỳ</th>
    <th rowspan="2">Học kỳ</th>
</tr>

<tr>
    <th>Số thứ tự</th>
    <th>Tên môn học</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
</tr>

<tr class="group">
<td></td>
<td colspan="2">1. Học phần chung</td>
<td></td>
<td>14</td>
<td colspan="8"></td>
<td></td>
</tr>

<tr>
<td>1</td>
<td>1</td>
<td class="subject">Triết học Mác – Lênin</td>
<td>LLNL1105</td>
<td>3</td>
<td></td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>II</td>
</tr>

<tr>
<td>2</td>
<td>2</td>
<td class="subject">Pháp luật đại cương</td>
<td>LUCS1129</td>
<td>3</td>
<td></td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>II</td>
</tr>

</table>

</div>
{% endblock %}