{% extends "base.html" %}

{% block content %}

<div class="form-container">
<h2>{{ct.mact}} - {{ct.tenct}}</h2>
<h2>Thêm môn học vào học kỳ</h2>

<form method="POST">

<input type="hidden" name="mact" value="{{mact}}">

<label>Số thứ tự</label>
<input type="number" name="stt" placeholder="Nhập STT" required>

<label>Chọn môn học</label>
<select id="subject" name="mahp" onchange="showInfo()" required>

<option value="">-- Chọn môn học --</option>

{% for hp in hocphan %}
<option
value="{{hp.mahp}}"
data-code="{{hp.mahp}}"
data-credit="{{hp.sotc}}">

{{hp.tenhp}}

</option>
{% endfor %}

</select>

<label>Mã học phần</label>
<input type="text" id="code" readonly>

<label>Số tín chỉ</label>
<input type="text" id="credit" readonly>

<label>Học kỳ</label>
<select name="hocki">

<option value="1">Học kỳ I</option>
<option value="2">Học kỳ II</option>
<option value="3">Học kỳ III</option>
<option value="4">Học kỳ IV</option>
<option value="5">Học kỳ V</option>
<option value="6">Học kỳ VI</option>

</select>

<button class="form-btn" type="submit">Thêm môn</button>

</form>

</div>

<script>

function showInfo(){

let subject = document.getElementById("subject")
let option = subject.options[subject.selectedIndex]

document.getElementById("code").value =
option.getAttribute("data-code")

document.getElementById("credit").value =
option.getAttribute("data-credit")

}
</script>

{% endblock %}